<footer class="bg-secondary">
    <div class="d-flex justify-content-center align-items-center">
        <p class="text-light display-4">
            Aodium
        </p>
    </div>
</footer>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>

</html>