<footer class="bg-secondary">
    <div class="d-flex justify-content-center align-items-center">
        <p class="text-light display-4">
            Aodium
        </p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js" integrity="sha256-/2C3CAfmuTGkUqK2mVrhkTacBscoR1caE0u2QZZ3Uh8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/javascript.min.js" integrity="sha256-KEvdWBGUiwKaHUOr/ay672LjnAN0gPA1ZaP3djHZ054=" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>

</html>