<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-dark-reasonable.min.css" integrity="sha256-fWFre4K4x/Eo4mgbtbZOyjce569zzVNBAJSfzEXzqDo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Sodium</title>

</head>

<body class="" style="background-color: #eee;">
    <header class="">
        <nav class="navbar navbar-expand navbar-dark">
            <a class="navbar-brand" href="/">Sodium</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbar">
                <ul class="navbar-nav">
                    <% if (locals.user) { %>
                        <li class="nav-item mx-2">
                            <a class=" btn btn-sm btn-light" href="/logout">Logout</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item mx-2">
                            <a class=" btn btn-sm btn-light" href="/login">Login</a>
                        </li>
                    <% } %>

                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-light text-white disabled" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>