<%- include ("_header") %>
<main class="container p-1">
    <div class="text-center"> 
        <img class="img-fluid" src="<%= error.imgSrc %>" alt="">
        <div style="bottom: 100px; background-color: #ffffff64;" class="p-2 position-relative ">
            <span class="text-dark"><%= error.userMessage%></span> 
        </div>
    </div>
</main>
<%- include ("_footer") %>